{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <title>chaces</title>
    <link rel="shortcut icon" href="#">

</head>
<body>
    <div id="divAll">
        <div id="divPage">
            <div id="divMiddle">
                {% include 'play/top.html' %}
                {% include 'play/nav.html' %}
                {% include 'play/main.html' %}
                {% include 'play/right.html' %}
                {% include 'play/bottom.html' %}
        </div>
    </div>>
</body>
</html>