{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" rev="stylesheet" href="{% static 'css/default.css' %}" type="text/css" media="screen">
    <title>Title</title>
</head>
<body>
    <div id="divTop">
        <h1 id="BlogTitle"><a href="#"><img src="{% static 'img/bg-logo.png' %}" alt="chace" onmouseover="shake(this,&#39;onmouseout&#39;)" style="margin-left: 2px; margin-top: 3px;"></a></h1>
        <h3 id="BlogSubTitle">www.chace.com</h3>
    </div>
</body>
</html>